.row
  .small-12.columns
    %h1
      ="Nachricht an #{@receiver.login} verfassen"

    = form_for @private_message do |f|
      = render 'shared/form_errors', errors: @private_message.errors[:base]

      = f.hidden_field :receiver_id, value: @receiver.id
      = f.hidden_field :sender_id, value: current_user.id
      .field
        = f.text_field :subject
      .field
        = f.text_area :message, class: 'big_text_area'

      .actions
        = f.submit 'Senden', class: 'button'
