<h1><%= @recipe.title %></h1>

<div class="mb-6">
  <rating-control 
    rateable-type="Recipe" 
    :rateable-id="<%= @recipe.id %>" 
    :initial-average="<%= @recipe.average_rating || 0 %>"
    :initial-count="<%= @recipe.ratings_count || 0 %>"
    :user-rating="<%= (Current.user && @recipe.ratings.find_by(user: Current.user)&.score) || 'null' %>"
  ></rating-control>
</div>

<p>
  <strong>Autor:</strong> <%= @recipe.user.username %>
</p>

<% if @recipe.description.present? %>
  <div class="description">
    <%= simple_format @recipe.description %>
  </div>
<% end %>

<h2>Zutaten</h2>
<ul>
  <% @recipe.recipe_ingredients.each do |ri| %>
    <li>
      <%= ri.amount %> <%= ri.unit %> <%= ri.ingredient.name %>
      <% if ri.description.present? %>
        (<%= ri.description %>)
      <% end %>
    </li>
  <% end %>
</ul>

<p>
  <strong>Alkoholgehalt:</strong> <%= @recipe.alcohol_content %>%<br>
  <strong>Gesamtvolumen:</strong> <%= @recipe.total_volume %> cl
</p>

<% if @recipe.recipe_comments.any? %>
  <div id="comments">
    <h2>Kommentare</h2>
    <% @recipe.recipe_comments.each do |comment| %>
      <div class="comment">
        <p>
          <strong><%= comment.user&.username || "Gast" %></strong> 
          <small><%= l comment.created_at, format: :short %></small>
        </p>
        <%= simple_format comment.body %>
      </div>
    <% end %>
  </div>
<% end %>
