<div class="row">
  <div class="columns small-12">
    <div class="forum-post">
      <div class="heading">
        <div class="row">
          <div class="columns small-12 medium-6">
            <%= l(forum_post.created_at) %>
          </div>
          <div class="columns small-12 medium-6 text-right">
            <%= link_to "##{forum_post.id}", {}, { name: forum_post.id } %>
            |
            <%= link_to 'Beitrag melden', '#' %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="columns small-12 medium-4 large-3">
            <%= user_badge(forum_post.user) %>
            <div>
              <small>
                <%= "#{forum_post.user_post_count} Beiträge" %>
              </small>
            </div>
            <div class="show-for-small-only">
              <hr>
            </div>
          </div>
          <div class="columns small-12 medium-8 large-9">
            <%= sanitize(forum_post.body) %>
            <hr>
            <div class="row">
              <div class="columns small-6">
                <%# TODO: Add authorization checks %>
                <%# if can? :update, forum_post %>
                  <%#= link_to 'Bearbeiten', edit_forum_post_path(forum_post.id) %>
                <%# end %>
                <%# if can? :destroy, ForumPost %>
                  <%#= link_to 'Löschen', forum_post_path(forum_post.id), method: :delete, data: { confirm: 'Diesen Beitrag wirklich löschen?' } %>
                <%# end %>
              </div>
              <div class="columns small-6 text-right">
                <%= link_to 'Zitieren', '#', class: 'button small' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
