<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="mb-4">
    <%= link_to forum_thread_path(@forum_thread), class: "link flex items-center gap-1 text-sm mb-4" do %>
      <i class="fas fa-chevron-left"></i>
      Zurück zum Thema
    <% end %>
    
    <h1 class="text-2xl font-bold mb-2">Antworten: <%= @forum_thread.title %></h1>
  </div>

  <div class="card mb-8">
    <div class="card-body">
      <%= form_with model: @forum_post, url: forum_posts_path(@forum_thread), local: true do |f| %>
        <%= render "form", form: f, forum_post: @forum_post %>
      <% end %>
    </div>
  </div>

  <% if @last_forum_posts.any? %>
    <div class="space-y-4">
      <h3 class="text-xl font-bold border-b pb-2 mb-4">Die letzten 5 Beiträge</h3>
      <% @last_forum_posts.each do |post| %>
        <%= render "forum_posts/forum_post", forum_post: post %>
      <% end %>
    </div>
  <% end %>
</div>
